NODE_ENV=development
PORT=2000

DATABASE_URL=mongodb://localhost:27017/verdictx

ACCESS_TOKEN_SECRET=your-super-long-access-secret
REFRESH_TOKEN_SECRET=your-super-long-refresh-secret

GITHUB_CLIENT_ID=Ov23liXXXXXXXXXXXXXXXXXX
GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

GITHUB_CALLBACK_URL=http://localhost:2000/api/v1/auth/github/callback

FRONTEND_URL=http://localhost:3000